.home {
  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &__menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__bg {
    position: absolute;
    z-index: -1;
    top: -82px;
    left: 0;
    width: 1642px;
    height: 1080px;
    object-fit: cover;
  }
  &__form-container {
    width: 674px;
    height: 670px;
    background-color: #fff;
    box-shadow: 0px 50px 50px #00000029;
    border-radius: 50px;
  }
  &__input {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 25px #00000029;
    border: 1px solid #fafafa;
    border-radius: 25px;
    position: relative;
    input,
    select {
      width: 100%;
      padding: 15px 25px 15px 210px;
      background-color: transparent;
      outline: none;
      color: #393939;
      letter-spacing: 1.6px;
      font-size: 16px;
      appearance: none;
    }
    label {
      position: absolute;
      bottom: 15px;
      left: 50px;
      color: #9d9d9d;
      font-weight: 300;
      font-size: 16px;
    }
  }
  &__input-check {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 25px #00000029;
    border: 1px solid #fafafa;
    border-radius: 25px;
    position: relative;
    div {
      width: 100%;
      padding: 15px 25px 15px 210px;
      label {
        margin-left: 5px;
        margin-right: 10px;
        color: #393939;
        letter-spacing: 1.6px;
      }
    }
    p {
      position: absolute;
      bottom: 15px;
      left: 50px;
      color: #9d9d9d;
      font-weight: 300;
      font-size: 16px;
    }
  }
  &__btn {
    width: 300px;
    min-height: 50px;
    background: #bcbcbc 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 25px #00000029;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 45px;
  }
}
